.table-box{
    margin-top: 50px auto;
}

.table-row{
    display: table;
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(141, 235, 235);
    padding: 12px 0;
    color: black;
    font-size: 15px;
}

.table-cell{
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0; 
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table-head{
    box-shadow: none;
    color: black; 
    font-weight: 600;
    font-weight: bold;
    font-size: 30px;

}

.table-head .table-cell{
    border-right: none;

}

.last-cell{
    border-right: none;
}

.first-cell{
    text-align: left;
    padding-left: 10px;
}