<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/edit.css">
    <title>DrReminder</title>
</head>

<body>
  <div>
    <div class="container">
      <div class="title">Edit Reminder</div>
      <br>
      <div class="content">
        <form action="/{{session_id}}/edit?id={{id}}" method="POST">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Medicine name</span>
              <input type="text" name="name">
            </div>
            <div class="input-box">
              <span class="details">Instructions</span>
              <input type="text" name="details">
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>


<footer> Copyright DrReminder 2021 </footer>