<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reminder-style.css">
    <title>DrReminder</title>
</head>

<body>
   
    <section class="hero">
        <div class="hero-container">
            <div class="column-left">
                <img src="../static/img/Medicine_Doctor.png" alt="Logo of DrReminder" class="hero-image">
            </div> 
            
            <div class="column-right">
                <h1>Welcome to <br> DrReminder <br> Your personalized medicine prescription AI</h1>
                
                <br>
                <div class="container">
                    <button class="btn-1"><a href="reminder.html"> Create Reminder</a></button>
                </div>
           
           
            </div>
    </section>

    <footer>
        <p class="copyright"> Copyright 2021 DrReminder</p>
    </footer>

    
    
</body>

</html>