<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>DrReminder</title>
</head>

<body>
   
    <section class="hero">
        <div class="hero-container">
            <div class="column-left">
                <img src="../static/img/Medicine_Doctor.png" alt="Logo of DrReminder" class="hero-image">
            </div> 
            
            <div class="column-right">
                <h1> DrReminder </h1>
                <p class="instruction">Click on the "Choose File" button to upload a file:</p>
                
                <div class="container">
                    <input type="file" class="upload-box">
                </div>
            </div>
    </section>



    <main>
        <div class="reminder-box"></div>
            <p class="reminder">Today's reminder:</p>
    </main>

    <table class="alarm">
        <thead>
            <tr>
                <th> Medicine </th>
                    <td> <input type="text" name="medicine-1"></td>
                    <td> <input type="text" name="medicine-2"></td>
                    <td> <input type="text" name="medicine-3"></td>
                <th> Time</th>
                 
                

            </tr>
        </thead>
    </table>
    


    
   





    <footer>
        <p class="copyright"> Copyright 2021 DrReminder</p>
    </footer>

    
    
</body>

</html>