<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/alarm.css">
    <title>DrReminder</title>
</head>

<body>

    <section class="hero">
        <div class="hero-container">
            <div class="column-left">
                <img src="../static/img/Medicine_Doctor.png" alt="Logo of DrReminder" class="hero-image">
            </div>

            <div class="column-right">
                <h2>Welcome to </h2>
                <h1>Dr.Reminder </h1>
                <h2>Your prescription manager and reminder</h2>
                <div style="padding: 1em"></div>
                <p class="instruction">Click on the "Choose File" button to upload a file:</p>
                <div class="container"></div>
                <form action="/{{session_id}}" method="POST" enctype=multipart/form-data>
                    <input type="file" name="file" class="upload-box" accept="image/png, image/jpeg">
                    <input type="submit" class="upload" value="Upload">
                </form>
                <br>
                <p class="instruction">OR input prescription details manually <a href='/{{session_id}}/add'>here</a></p>

                {% if reminders|length >= 1 %}
                <br>
                <br>
                <form action="/{{session_id}}/download" target="_blank">
                    <input type="submit" class="upload" value="Download calendar">
                </form>
            </div>
        </div>

        <div class="table-box">
            <div class="table-row table-head">
                <div class="table-cell">
                    <p>Medicine Name</p>
                </div>
                <div class="table-cell">
                    <p>Details</p>
                </div>
                <div class="table-cell">
                    <p>Date Added</p>
                </div>
                <div class="table-cell last cell">
                </div>
                <div class="table-cell last cell">
                </div>
            </div>

            {% for reminder in reminders %}
            <div class="table-row">
                <div class="table-cell">
                    <p>{{ reminder.name }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ reminder.details }}</p>
                </div>
                <div class="table-cell">
                    <p>{{ reminder.date_created.date() }}</p>
                </div>
                <div class="table-cell last cell">
                    <a href="/{{session_id}}/edit/{{reminder.id}}">Edit</a>
                </div>
                <div class="table-cell last cell">
                    <a href="/{{session_id}}/delete/{{reminder.id}}">Delete</a>
                </div>
            </div>
            {% endfor %}

        {% else %}
            </div>
        </div>



        {% endif %}
        </div>
    </section>

    <footer>
        <p class="copyright"> Copyright 2021 DrReminder</p>
    </footer>



</body>

</html>